.composition {
    position: relative;
   
    .composition__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 100px;
        position: absolute;
        z-index: 10;
        transition: all .3s;
        outline-offset: 2rem;

        &--one {
            left: 0;
            top: -2rem;
        }
        &--two {
            right: 0;
            top: 2rem;
        }
        &--three {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            // outline: 1.5rem solid $color-primary;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;
        }
    }
    
    
    &:hover &__photo:not(:hover) {
        transform: scale(0.95);
    }
}

